.home {
    &__title {
        text-align: center;
        padding: 2rem;
    }
    &__form {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 800px) {
    .homepage {
        h1 {
            margin-bottom: 40px;
        }
    }
}